body {
  background-image: url("./assets/BBimage3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 90vh; /* Set height to cover the entire viewport */
}

.header {
  padding: 10px 50px;
  display: flex;
  font-size: 20px; /*Increase the font size to make the logo bigger */
}

.navbar {
  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 5px;
}

/* Position the logo at the top right */
.logo {
  /* font-size: 100px; Increase the font size to make the logo bigger */
  margin-left: auto;
}
